@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5{
    font-family: "Playfair Display", serif;
}

p, .btn{
    font-family: "Lora", serif !important;
}

.navbar{
    background-color: #E0DACA;
    color: white;
}

.hero{
    background: url("src/assets/herosection.jpg") no-repeat fixed center;
    min-height: 92vh;
    width: 100%;
    position: relative;
    background-size: cover;
}

.hero-content{
    color: #E0DACA;
    margin-bottom: 450px;
}

.new-arrivals{
    background-color: #E0DACA;
}

.card-body .btn{
    background-color: #B5838D;
    color: white;
    border-color: #6d6875;
}

.card-body .btn:hover{
    background-color: white;
    color: #B5838D;
    border-color: #6d6875;
}

.bestsellers{
    background-color: #C4B294;
}

.newsletter{
    background-color: #6d6875;
    color: white;
}

.newsletter .btn{
    background-color: #E0DACA;
    color: #6d6875;
    border-color: white;
}

.newsletter .btn:hover{
    background-color: #6d6875;
    color: #E0DACA;
    border-color: white;
}