*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #E0DACA;
    color: white;
}

.hero{
    background: url("src/assets/herosection.jpg") no-repeat fixed center;
    min-height: 92vh;
    width: 100%;
    position: relative;
    background-size: cover;
}

.hero-content{
    color: #E0DACA;
    margin-bottom: 450px;
}

.new-arrivals{
    background-color: #E0DACA;
}

.card-body .btn{
    background-color: #B5838D;
    color: white;
    border-color: #6d6875;
}

.card-body .btn:hover{
    background-color: white;
    color: #B5838D;
    border-color: #6d6875;
}

.bestsellers{
    background-color: #C4B294;
}